.DS_Store
content/99 Private/
content/.obsidian/plugins
content/.obsidian/workspace.json
content/.obsidian/graph.json
content/.obsidian/workspaces.json
content/.obsidian/themes/*
!content/.obsidian/themes/Vanilla AMOLED
content/.vaultexplorer