@use "./base.scss";

// put your custom CSS here!

body {
    --tag-color: #eaeaeae2;
    --tag-background: #5b5b5b9c;
    --code-background: #1b1b1bbb;
    --text-highlight-bg: rgba(92, 144, 255, 0.400);
}

.center {
    text-align: center;
}

body :is(strong, b, .cm-strong) {
    color: white;
    font-weight: 800;
}

.callout {
    border-radius: 10px;
    border-width: 2px;
}

.space-images img {
    margin-right: 10px;
    margin-top: 10px;
}

.rounded-images img {
    border-radius: 10px;
}

.center-images img {
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

.no-embed-border {
    --embed-border-left: 0px solid black !important;
}

.neo-headings :is(h1, .HyperMD-header.HyperMD-header-1) {
    text-align: center;
    font-size: 40px;
}

.neo-headings :is(h2, .HyperMD-header.HyperMD-header-2) {
    font-size: 32px;
}

.neo-headings :is(h3, .HyperMD-header.HyperMD-header-3) {
    font-size: 25px;
}

.neo-headings :is(h4, .HyperMD-header.HyperMD-header-4) {
    font-size: 20px;
}

.neo-headings :is(h5, .HyperMD-header.HyperMD-header-5) {
    font-size: 18px;
}

.neo-headings :is(h6, .HyperMD-header.HyperMD-header-6) {
    font-size: 16px;
}

.center-headings:is(h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    .HyperMD-header.HyperMD-header-1,
    .HyperMD-header.HyperMD-header-2,
    .HyperMD-header.HyperMD-header-3,
    .HyperMD-header.HyperMD-header-4,
    .HyperMD-header.HyperMD-header-5,
    .HyperMD-header.HyperMD-header-6) {
    text-align: center;
}


.center-titles:is(h1,
    h2,
    .HyperMD-header.HyperMD-header-1,
    .HyperMD-header.HyperMD-header-2,) {
    text-align: center;
}

:root {
    --primary: #ffffff;
    --gray: #d7d7d7;
  }
  
  .gohu-font {
    --font-text: "GohuFont uni11 Nerd Font Mono", monospace;
  }
  
  .ms-dos-font {
    --font-text: "Perfect DOS VGA 437", monospace;
  }
  
  .bai-font {
    --font-text: "Bai Jamjuree", Arial, sans-serif;
  }
  
  .kode-font {
    --font-text: "Kode Mono", monospace;
  }
  
  .sriracha-font {
    --font-text: "Sriracha", Arial, sans-serif;
  }
  
  .tiny5-font {
    --font-text: "Tiny5", monospace;
  }
  
  .sanchez-font {
    --font-text: "Sanchez", serif;
  }
  
  .orbitron-font {
    --font-text: "Orbitron", sans-serif;
  }
  
  .audiowide-font {
    --font-text: "Audiowide", sans-serif;
  }
  
  .lato-font {
    --font-text: "Lato", sans-serif;
  }
  
  .lexend-font {
    --font-text: "Lexend", sans-serif;
  }
  
  .roboto-font {
    --font-text: "Roboto", sans-serif;
  }
  
  .roboto-mono-font {
    --font-text: "Roboto Mono", monospace;
  }
  
  .ubuntu-font {
    --font-text: "Ubuntu", sans-serif;
  }
  
  .ubuntu-mono-font {
    --font-text: "Ubuntu Mono", monospace;
  }
  
  .determination-mono-font {
    font-family: "Determination Mono Web", monospace;
  }
  
  .noto-mono-font {
    font-family: "Noto Sans Mono", monospace;
  }
  
  .gohu-headings :is(h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    .HyperMD-header.HyperMD-header-1,
    .HyperMD-header.HyperMD-header-2,
    .HyperMD-header.HyperMD-header-3,
    .HyperMD-header.HyperMD-header-4,
    .HyperMD-header.HyperMD-header-5,
    .HyperMD-header.HyperMD-header-6) {
    font-family: "GohuFont uni11 Nerd Font Mono", monospace;
  }
  
  .ms-dos-headings :is(h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    .HyperMD-header.HyperMD-header-1,
    .HyperMD-header.HyperMD-header-2,
    .HyperMD-header.HyperMD-header-3,
    .HyperMD-header.HyperMD-header-4,
    .HyperMD-header.HyperMD-header-5,
    .HyperMD-header.HyperMD-header-6) {
    font-family: "Perfect DOS VGA 437", monospace;
  }
  
  .bai-headings :is(h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    .HyperMD-header.HyperMD-header-1,
    .HyperMD-header.HyperMD-header-2,
    .HyperMD-header.HyperMD-header-3,
    .HyperMD-header.HyperMD-header-4,
    .HyperMD-header.HyperMD-header-5,
    .HyperMD-header.HyperMD-header-6) {
    font-family: "Bai Jamjuree", Arial, Helvetica, sans-serif
  }
  
  .kode-headings :is(h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    .HyperMD-header.HyperMD-header-1,
    .HyperMD-header.HyperMD-header-2,
    .HyperMD-header.HyperMD-header-3,
    .HyperMD-header.HyperMD-header-4,
    .HyperMD-header.HyperMD-header-5,
    .HyperMD-header.HyperMD-header-6) {
    font-family: "Kode Mono", monospace;
  }
  
  .sriracha-headings :is(h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    .HyperMD-header.HyperMD-header-1,
    .HyperMD-header.HyperMD-header-2,
    .HyperMD-header.HyperMD-header-3,
    .HyperMD-header.HyperMD-header-4,
    .HyperMD-header.HyperMD-header-5,
    .HyperMD-header.HyperMD-header-6) {
    font-family: "Sriracha", Arial, sans-serif;
  }
  
  .tiny5-headings :is(h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    .HyperMD-header.HyperMD-header-1,
    .HyperMD-header.HyperMD-header-2,
    .HyperMD-header.HyperMD-header-3,
    .HyperMD-header.HyperMD-header-4,
    .HyperMD-header.HyperMD-header-5,
    .HyperMD-header.HyperMD-header-6) {
    font-family: "Tiny5", monospace;
  }
  
  .sanchez-headings :is(h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    .HyperMD-header.HyperMD-header-1,
    .HyperMD-header.HyperMD-header-2,
    .HyperMD-header.HyperMD-header-3,
    .HyperMD-header.HyperMD-header-4,
    .HyperMD-header.HyperMD-header-5,
    .HyperMD-header.HyperMD-header-6) {
    font-family: "Sanchez", serif;
  }
  
  .orbitron-headings :is(h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    .HyperMD-header.HyperMD-header-1,
    .HyperMD-header.HyperMD-header-2,
    .HyperMD-header.HyperMD-header-3,
    .HyperMD-header.HyperMD-header-4,
    .HyperMD-header.HyperMD-header-5,
    .HyperMD-header.HyperMD-header-6) {
    font-family: "Orbitron", sans-serif;
  }
  
  .audiowide-headings :is(h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    .HyperMD-header.HyperMD-header-1,
    .HyperMD-header.HyperMD-header-2,
    .HyperMD-header.HyperMD-header-3,
    .HyperMD-header.HyperMD-header-4,
    .HyperMD-header.HyperMD-header-5,
    .HyperMD-header.HyperMD-header-6) {
    font-family: "Audiowide", sans-serif;
  }
  
  .lato-headings :is(h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    .HyperMD-header.HyperMD-header-1,
    .HyperMD-header.HyperMD-header-2,
    .HyperMD-header.HyperMD-header-3,
    .HyperMD-header.HyperMD-header-4,
    .HyperMD-header.HyperMD-header-5,
    .HyperMD-header.HyperMD-header-6) {
    font-family: "Lato", sans-serif;
  }
  
  .lexend-headings :is(h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    .HyperMD-header.HyperMD-header-1,
    .HyperMD-header.HyperMD-header-2,
    .HyperMD-header.HyperMD-header-3,
    .HyperMD-header.HyperMD-header-4,
    .HyperMD-header.HyperMD-header-5,
    .HyperMD-header.HyperMD-header-6) {
    font-family: "Lexend", sans-serif;
  }
  
  .roboto-headings :is(h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    .HyperMD-header.HyperMD-header-1,
    .HyperMD-header.HyperMD-header-2,
    .HyperMD-header.HyperMD-header-3,
    .HyperMD-header.HyperMD-header-4,
    .HyperMD-header.HyperMD-header-5,
    .HyperMD-header.HyperMD-header-6) {
    font-family: "Roboto", sans-serif;
  }
  
  .roboto-mono-headings :is(h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    .HyperMD-header.HyperMD-header-1,
    .HyperMD-header.HyperMD-header-2,
    .HyperMD-header.HyperMD-header-3,
    .HyperMD-header.HyperMD-header-4,
    .HyperMD-header.HyperMD-header-5,
    .HyperMD-header.HyperMD-header-6) {
    font-family: "Roboto Mono", monospace;
  }
  
  .ubuntu-headings :is(h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    .HyperMD-header.HyperMD-header-1,
    .HyperMD-header.HyperMD-header-2,
    .HyperMD-header.HyperMD-header-3,
    .HyperMD-header.HyperMD-header-4,
    .HyperMD-header.HyperMD-header-5,
    .HyperMD-header.HyperMD-header-6) {
    font-family: "Ubuntu", sans-serif;
  }
  
  .ubuntu-mono-headings :is(h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    .HyperMD-header.HyperMD-header-1,
    .HyperMD-header.HyperMD-header-2,
    .HyperMD-header.HyperMD-header-3,
    .HyperMD-header.HyperMD-header-4,
    .HyperMD-header.HyperMD-header-5,
    .HyperMD-header.HyperMD-header-6) {
    font-family: "Ubuntu Mono", monospace;
  }
  
  .determination-mono-headings :is(h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    .HyperMD-header.HyperMD-header-1,
    .HyperMD-header.HyperMD-header-2,
    .HyperMD-header.HyperMD-header-3,
    .HyperMD-header.HyperMD-header-4,
    .HyperMD-header.HyperMD-header-5,
    .HyperMD-header.HyperMD-header-6) {
    font-family: "Determination Mono Web", monospace;
  }
  
  .noto-mono-headings :is(h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  .HyperMD-header.HyperMD-header-1,
  .HyperMD-header.HyperMD-header-2,
  .HyperMD-header.HyperMD-header-3,
  .HyperMD-header.HyperMD-header-4,
  .HyperMD-header.HyperMD-header-5,
  .HyperMD-header.HyperMD-header-6) {
    font-family: "Noto Sans Mono", monospace;
  }